apiVersion: v1
kind: ConfigMap
metadata:
  name: environment
  labels:
{{ include "photoprism.labels" . | indent 4 }}
data:
{{- range $key, $value := .Values.config }}
  {{ $key }}: {{ $value | quote }}
{{- end }}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: storage
  labels:
{{ include "photoprism.labels" . | indent 4 }}
data:
  PHOTOPRISM_DATABASE_DRIVER: {{ .Values.database.driver }}
{{- if .Values.persistence.enabled }}
{{- with .Values.persistence }}
  {{ if .originalsPath }}PHOTOPRISM_ORIGINALS_PATH: {{ .originalsPath }}{{ end }}
  {{ if .importPath    }}PHOTOPRISM_IMPORT_PATH: {{ .importPath }}{{ end }}
  {{ if .storagePath   }}PHOTOPRISM_STORAGE_PATH: {{ .storagePath }}{{ end }}
{{- end }}
{{- end }}